:root{
    --overly-color: rgba(0, 0, 0, .3);
    --default-color: #FFF;
    --main-color: rgba(255, 152, 0, 1);
    --ander-colo: rgba(28, 196, 117, 1);
    --gray-color: rgb(119,119,119, 1);
    --black-color: #000;
    --default-transition: all .5s ease-in-out;
    --default-padding : 50px 0;
    --default-fontSize : 18px;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 3000px;
}
.container{
    margin: auto;
}

.visibale-xs, /*hadak elemnt ghaykon mkhfi fga3 lmedia ila l media li khtaritha lih ghayban fiha*/
.visibale-sm,
.visibale-md,
.visibale-lg{
    display: none;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearFix{
    clear: both;
}
.h1{
    font-size: 2em;
}
.h2{
    font-size: 1.5em;
}
.myHeading{
    margin:auto;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 60px;
}
.myHeading::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
    transform: scale(.5);
}


/* start header */
header{
    min-height: 100vh;
    background-color: #000;
    color: var(--gray-color);
    position: relative;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
header nav .logo{
    font-size: var(--default-fontSize);
    font-style: italic;
}
header nav .logo span{
    color: var(--main-color);
}
header nav ol{
    list-style: none;
}
header nav ol li ul{
    list-style: none;
    min-width: fit-content;
    min-width: -moz-fit-content;
}
header nav ul li{
    display: inline-block;
    margin-right: 15px;
}
header nav ul li.active{
    color: var(--main-color)
}
header nav ul li a{
    text-decoration: none;
    color: inherit;
    font-size: var(--default-fontSize);
    transition: var(--default-transition);
    text-transform: capitalize;
    position: relative;
}
header nav ul li a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--default-transition);
    transform: scaleX(0);
}
header nav ul li a:hover{
    color: var(--main-color);
}
header nav ul li a:hover::after{
    transform: scaleX(1);
}

header .ik{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 50%;
    color: var(--main-color);
}
header .ik > div{
    width: 100%;
    height: 100%;
}
header .ik img{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(2);
}
header .ik .ik-content h3::first-letter{
    text-transform: uppercase;
}
header .ik .ik-content .h2{
    color: var(--default-color);
    text-transform: uppercase;
    background: url(../images/texg.jpg) 50% 50%;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
header .ik .ik-content p{
    text-transform: capitalize;
    font-size: var(--default-fontSize);
}
header .ik .ik-content a{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    margin-top: 10px;
    margin: 10px 0;
    display: block;
    text-align: center;
    text-transform: capitalize;
    transition: var(--default-transition);
}
header .ik .ik-content a:hover{
    color: var(--default-color);
    background-color: var(--main-color);
}
header .naar-volgend{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
header .naar-volgend:hover i{
    transform: rotate(180deg);
    color: var(--main-color);
    line-height: 30px;
    box-shadow: 0 0 1px 1px var(--main-color);
}
header .naar-volgend i{
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    transition: var(--default-transition);
    font-size: 20px;
}
/* header media */
@media ( max-width : 767px) and (min-width : 200px),
(min-width : 768px) and (max-width: 991px)
{
    header nav .logo{
        margin-left: 20px;
    }
    header nav ol > li{
        cursor: pointer;
        font-size: 30px;
        width: fit-content;
        margin-right: 20px;
    }
    header nav ol > li:hover ul{
        transform: translateY(0%);
    }
    header nav ul{
        background-color: var(--black-color);
        padding: 20px 0;
        position: fixed;
        left: 0;
        top: 69px;
        width: 100%;
        height: fit-content;
        z-index: 10;
        transition: var(--default-transition);
        transform: translateY(-120%);

        display: flex;
        flex-wrap: wrap;
    }
    header nav ul li{
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    header .ik > div{
        position: relative;
    }
    header .ik img,
    header .ik .ik-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    header .ik img{
        z-index: 1;
        opacity: .5;
    }
    header .ik .ik-content{
        z-index: 4;
        text-align: center;
    }
    header .ik .ik-content a{
        margin: auto;
    }
}
@media (min-width : 992px)
{
    header .ik > div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width : 1200px)
{

}
/* end header */
/* //=================================== */
/* start about me */
article.about-me{
    padding: var(--default-padding);
    --aboute-mecolor: rgb(142,142,142);
    background-color: rgb(142,142,142, .2);
    font-family: 'Lato', sans-serif
}
article.about-me h2{

}
article.about-me .content{
    display: flex;
}
article.about-me .content section:first-of-type{
    background-color: var(--default-color);
}
article.about-me .content section:first-of-type img{
    transition: var(--default-transition);
    width: 100%;
    height: 100%;
}
article.about-me .content section:first-of-type ul{
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 30px auto 20px;
}
article.about-me .content section:first-of-type ul li{
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
article.about-me .content section:first-of-type ul li i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    transition: var(--default-transition);
}
article.about-me .content section:first-of-type ul li i:hover{
    background-color: var(--main-color);
    color: var(--default-color);
    border-color: var(--main-color);
    transform: scale(1.1);
}
article.about-me .content section:last-of-type{
    padding: 20px;
    color : var(--aboute-mecolor);
    background-color: var(--default-color);
}
article.about-me .content section:last-of-type h3{
    text-transform: capitalize;
    color: var(--main-color);
    font-size: var(--default-fontSize);
}
article.about-me .content section:last-of-type .info{
    display: flex;
    flex-wrap: wrap;
}
article.about-me .content section:last-of-type .info p{
    font-size: 14px;
}
article.about-me .content section:last-of-type .info p span{
    position: relative;
    padding-left: 20px;
    font-weight: bold;
    font-size: var(--default-fontSize);
    color: var(--black-color);
    text-transform: capitalize;
}
article.about-me .content section:last-of-type .info p span::before{
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    bottom: 0;
    left: -5px;
}
article.about-me .content section:last-of-type .info p:first-of-type span::before{
    content: '\f007';
}
article.about-me .content section:last-of-type .info p:nth-of-type(2) span::before{
    content: '\f879';
}
article.about-me .content section:last-of-type .info p:nth-of-type(3) span::before{
    content: '\f0e0';
}
article.about-me .content section:last-of-type .info p:nth-of-type(4) span::before{
    content: '\f3c5';
}
article.about-me .content section:last-of-type .buttons{
    margin-top: 20px;
}
article.about-me .content section:last-of-type .buttons a:first-of-type,
article.about-me .content section:last-of-type .buttons a button{
    padding: 10px 20px;
    color: var(--default-color);
    border-radius: 10px;
    text-transform: capitalize;
    transition: var(--default-transition);
    font-size: var(--default-fontSize);
    cursor: pointer;
}
article.about-me .content section:last-of-type .buttons a:first-of-type{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
article.about-me .content section:last-of-type .buttons a:first-of-type:hover{
    border-color: var(--gray-color);
    background-color: var(--gray-color);
}
article.about-me .content section:last-of-type .buttons a button{
    border: 1px solid var(--gray-color);
    background-color: var(--gray-color);
}
article.about-me .content section:last-of-type .buttons a button:hover{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}


@media ( max-width : 767px) and (min-width : 200px)
{
    article.about-me .content section{
        width: 95% !important;
    }
    article.about-me .content section:last-of-type .buttons a:first-of-type,
    article.about-me .content section:last-of-type .buttons a button{
        display: block ;
        width: 60%;
        margin:10px auto !important;
        text-align: center;
    }
}
@media ( max-width : 767px) and (min-width : 200px),
(min-width : 768px)
{
    article.about-me .content{
        flex-wrap: wrap;
        justify-content: center;
    }
    article.about-me .content section{
        width: 90%;
    }
    article.about-me .content section:first-of-type{
        margin-bottom: 20px;
        text-align: center;
    }
    article.about-me .content section:last-of-type .info p{
        width: 80%;
    }
    article.about-me .content section:last-of-type .buttons a:first-of-type{
        margin-right: 15px;
    }
}

@media (min-width : 992px)
{
    article.about-me .content section:first-of-type{
        width: 40%;
    }
    article.about-me .content section:first-of-type div{
        overflow: hidden;
        width: 100%;
        height: 400px;
    }
    article.about-me .content section:first-of-type img:hover{
        transform: scale(1.2);
    }
    article.about-me .content section:last-of-type{
        width: calc(60% - 40px);
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    article.about-me .content section:last-of-type .info p{
        width: calc(50% - 2%);
        margin-right: 2%;
    }
    article.about-me .content section:last-of-type .buttons a:first-of-type{
        margin-right: 20px;
    }
}

@media (min-width : 1200px)
{

}
/* end about me */



/* start global media */
@media ( max-width : 767px) and (min-width : 200px)
{
    .visibale-xs
    {
        display: block ;
    }
    .hidden-xs
    {
        display: none ;
    }
}
@media (min-width : 768px) and (max-width : 992px){
    .visibale-sm
    {
        display: block ;
    }
}
@media (min-width : 768px)
{
    .container
    {
        width: 780px;
    }
    .hidden-sm
    {
        display: none ;
    }
}
@media (min-width : 992px)
{
    .container
    {
        width: 1000px;
    }
    .visibale-md
    {
        display: block;
    }
    .hidden-md
    {
        display: none ;
    }
}

@media (min-width : 1200px)
{
    .container
    {
        width: 1200px;
    }
    .visibale-lg
    {
        display: block ;
    }
    .hidden-lg
    {
        display: none ;
    }
}
/* end global media */















