:root{
    --overly-color: rgba(0, 0, 0, .8);
    --default-color: #FFF;
    --main-color: rgba(255, 152, 0, 1);
    --ander-colo: rgba(28, 196, 117, 1);
    --gray-color: rgb(119,119,119, 1);
    --black-color: #000;
    --default-transition: all .5s ease-in-out;
    --default-padding : 50px 0;
    --default-fontSize : 18px;
    --blue-color: #009bd5;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;

}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.container{
    margin: auto;
}
.hidden-Y{
    overflow-y: hidden;
}

.visibale-xs, /*hadak elemnt ghaykon mkhfi fga3 lmedia ila l media li khtaritha lih ghayban fiha*/
.visibale-sm,
.visibale-md,
.visibale-lg{
    display: none;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearFix{
    clear: both;
}
.h1{
    font-size: 2em;
}
.h2{
    font-size: 1.5em;
}
.myHeading{
    margin:auto;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 60px;
}
.myHeading::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
    transform: scale(.5);
}
/*================================================================================*/
/* start navigation bullets */
.nav-bullets{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;

    box-shadow: inset 0 1px 1px rgba(255, 152, 0, .5), 
        0 0 8px rgba(255, 152, 0, .5);
    z-index: 10;
    border-radius: 10px;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 10px auto;
    cursor: pointer;
    position: relative;
    display: block;
    transition: var(--default-transition);
}
.nav-bullets .bullet:hover{
    border: 1px solid transparent;
    background-color: var(--main-color);
    transform: scale(1.2);
}
.nav-bullets .bullet .tooltip{
    position: absolute;
    width: 120px;
    padding: 5px 10px;
    right: 40px;
    top: -5px;
    border-radius: 5px;
    transition: var(--default-transition);
    transition-timing-function: cubic-bezier(0.05, 0.81, 0.05, 0.95);
    transform: scale(0);
    transform-origin: right;
    text-align: center;
    pointer-events: none;
    background-color: rgba(255, 152, 0, .5);
    text-transform: capitalize;
    color: var(--black-color);
    font-weight: bold;
}
.nav-bullets .bullet:hover .tooltip{
    transform: scale(1);
}
.nav-bullets .bullet .tooltip::after{
    content: '';
    position: absolute;
    top: 4px;
    right: -20px;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent rgba(255, 152, 0, .5);
}
@media (min-width : 992px)
{
    .nav-bullets{
        right: 5px;
    }
}

@media (min-width : 1200px)
{
    .nav-bullets{
        right: 15px;
    }
}
/* end navigation bullets */
/*================================================================================*/
/* start header */
header{
    min-height: 100vh;
    background-color: #000;
    color: var(--gray-color);
    position: relative;
    z-index: 20;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
header nav .logo{
    font-size: var(--default-fontSize);
    font-style: italic;
}
header nav .logo span{
    color: var(--main-color);
}
header nav ol{
    list-style: none;
}
header nav ol li ul{
    list-style: none;
    min-width: fit-content;
    min-width: -moz-fit-content;
}
header nav ul li.active{
    color: var(--main-color)
}
header nav ul li a{
    text-decoration: none;
    color: inherit;
    font-size: var(--default-fontSize);
    transition: var(--default-transition);
    text-transform: capitalize;
    position: relative;
}
header nav ul li a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--default-transition);
    transform: scaleX(0);
}
header nav ul li a:hover{
    color: var(--main-color);
}
header nav ul li a:hover::after{
    transform: scaleX(1);
}

header .ik{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 50%;
    color: var(--main-color);
}
header .ik > div{
    width: 100%;
    height: 100%;
}
header .ik img{
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(1);
    transition: var(--default-transition);
}
header .ik .ik-content h3::first-letter{
    text-transform: uppercase;
}
header .ik .ik-content .h2{
    color: var(--default-color);
    text-transform: uppercase;
    background: url(../images/texg.jpg) 50% 50%;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
header .ik .ik-content p{
    text-transform: capitalize;
    font-size: var(--default-fontSize);
}
header .ik .ik-content a{
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    margin-top: 10px;
    margin: 10px 0;
    display: block;
    text-align: center;
    text-transform: capitalize;
    transition: var(--default-transition);
}
header .ik .ik-content a:hover{
    color: var(--default-color);
    background-color: var(--main-color);
}
header .naar-volgend{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
header .naar-volgend:hover i{
    transform: rotate(180deg);
    color: var(--main-color);
    line-height: 30px;
    box-shadow: 0 0 1px 1px var(--main-color);
}
header .naar-volgend i{
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    transition: var(--default-transition);
    font-size: 20px;
}

/* header media */


@media ( max-width : 767px) and (min-width : 200px),
(min-width : 768px) and (max-width: 991px)
{
    header nav .logo{
        margin-left: 20px;
    }
    header nav ol > li{
        cursor: pointer;
        font-size: 30px;
        width: fit-content;
        margin-right: 20px;
    }
    header nav ol > li i{
        transition: var(--default-transition);
    }header nav ol > li i:hover{
        color: var(--main-color);
    }
    .showUl{
        transform: translateX(0%);
    }
    header nav ul{
        background-color: var(--black-color);
        padding: 20px 0;
        position: fixed;
        left: 0;
        top: 69px;
        width: 100%;
        height: fit-content;
        z-index: 10;
        transition: var(--default-transition);
        transform: translateX(-100%);
        display: flex;
        flex-wrap: wrap;
    }
    header nav ul li{
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    header .ik > div{
        position: relative;
    }
    header .ik img,
    header .ik .ik-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    header .ik img{
        z-index: 1;
        opacity: .5;
    }
    header .ik .ik-content{
        z-index: 4;
        text-align: center;
    }
    header .ik .ik-content a{
        margin: auto;
    }
}
@media (min-width : 992px)
{
    header nav ul li{
        display: inline-block;
        margin-right: 15px;
    }
    header .ik > div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    header .ik div > a{
        width: 40%;
    }
    header .ik a img:hover{
        box-shadow: 0px 16px 30px 0px var(--main-color),
        0px -16px 30px 0px var(--main-color);
    }
    header .ik a img:active{
        box-shadow: 0 0 0 0;
        border: 1px solid var(--main-color);
        border-radius: 50%;
        padding: 20px;
    }
}

@media (min-width : 1200px)
{

}
/* end header */
/*================================================================================*/
/* start over me */
article.over-me{
    padding: var(--default-padding);
    --aboute-mecolor: rgb(142,142,142);
    background-color: rgb(142,142,142, .2);
    font-family: 'Lato', sans-serif
}
/* article.over-me h2{

} */
article.over-me .content{
    display: flex;
}
article.over-me .content section{
    border-radius: 5px;
}
article.over-me .content section:first-of-type{
    background-color: var(--default-color);
}
article.over-me .content section:first-of-type div{
    border-radius: 5px 5px 0 0;
}
article.over-me .content section:first-of-type img{
    transition: var(--default-transition);
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}
article.over-me .content section:first-of-type ul{
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 30px auto 20px;
}
article.over-me .content section:first-of-type ul li{
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
article.over-me .content section:first-of-type ul li i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    transition: var(--default-transition);
}
article.over-me .content section:first-of-type ul li i:hover{
    background-color: var(--main-color);
    color: var(--default-color);
    border-color: var(--main-color);
    transform: scale(1.1);
}
article.over-me .content section:last-of-type{
    padding: 20px;
    color : var(--aboute-mecolor);
    background-color: var(--default-color);
}
article.over-me .content section:last-of-type h3{
    text-transform: capitalize;
    color: var(--main-color);
    font-size: var(--default-fontSize);
}
article.over-me .content section:last-of-type > p {
    font-size: var(--default-fontSize);
}
article.over-me .content section:last-of-type > p::first-letter,
article.over-me .content section:last-of-type > p span{
    text-transform: capitalize;
}
article.over-me .content section:last-of-type .info{
    display: flex;
    flex-wrap: wrap;
}
article.over-me .content section:last-of-type .info p{
    font-size: 14px;
}
article.over-me .content section:last-of-type .info p span{
    position: relative;
    padding-left: 20px;
    font-weight: bold;
    font-size: var(--default-fontSize);
    color: var(--black-color);
    text-transform: capitalize;
    width: 105px;
    display: inline-block;
}
article.over-me .content section:last-of-type .info p span::before{
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    bottom: 0;
    left: -5px;
}
article.over-me .content section:last-of-type .info p span::after{
    content: ":";
    position: absolute;
    top: 0;
    right: 3px;
    font-size: var(--default-fontSize);
}
article.over-me .content section:last-of-type .info p:first-of-type span::before{
    content: '\f007';
}
article.over-me .content section:last-of-type .info p:nth-of-type(2) span::before{
    content: '\f879';
}
article.over-me .content section:last-of-type .info p:nth-of-type(3) span::before{
    content: '\f0e0';
}
article.over-me .content section:last-of-type .info p:nth-of-type(4) span::before{
    content: '\f3c5';
}
article.over-me .content section:last-of-type .buttons{
    margin-top: 20px;
}
article.over-me .content section:last-of-type .buttons a:first-of-type,
article.over-me .content section:last-of-type .buttons a button{
    padding: 10px 20px;
    color: var(--default-color);
    border-radius: 10px;
    text-transform: capitalize;
    transition: var(--default-transition);
    font-size: var(--default-fontSize);
    cursor: pointer;
}
article.over-me .content section:last-of-type .buttons a:first-of-type{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
article.over-me .content section:last-of-type .buttons a:first-of-type:hover{
    border-color: var(--gray-color);
    background-color: var(--gray-color);
    transform: scale(1.1) ;
}
article.over-me .content section:last-of-type .buttons a button{
    border: 1px solid var(--gray-color);
    background-color: var(--gray-color);
}
article.over-me .content section:last-of-type .buttons a button:hover{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    transform: scale(1.1);
}


@media ( max-width : 767px) and (min-width : 200px)
{
    article.over-me .content section{
        width: 95% !important;
    }
    article.over-me .content section:last-of-type .buttons a:first-of-type,
    article.over-me .content section:last-of-type .buttons a button{
        display: block !important;
        width: 60%;
        margin:10px auto !important;
        text-align: center;
    }
}
@media ( max-width : 767px) and (min-width : 200px),
(min-width : 768px)
{
    article.over-me .content{
        flex-wrap: wrap;
        justify-content: center;
    }
    article.over-me .content section{
        width: 90%;
    }
    article.over-me .content section:first-of-type{
        margin-bottom: 20px;
        text-align: center;
    }
    article.over-me .content section:last-of-type .info p{
        width: 80%;
    }
    article.over-me .content section:last-of-type .buttons a:first-of-type{
        margin-right: 15px;
        display: inline-block;
    }
}
@media (min-width : 992px) and (max-width : 1199px){
    article.over-me .content section:last-of-type .info p:first-of-type span,
    article.over-me .content section:last-of-type .info p:nth-of-type(3) span{
        width: 80px !important;
    }
}
@media (min-width : 992px)
{
    article.over-me .content section:first-of-type{
        width: 40%;
    }
    article.over-me .content section:first-of-type div{
        overflow: hidden;
        width: 100%;
        height: 400px;
    }
    article.over-me .content section:first-of-type img:hover{
        transform: scale(1.2);
    }
    article.over-me .content section:last-of-type{
        width: calc(60% - 40px);
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    article.over-me .content section:last-of-type .info p{
        width: calc(50% - 2%);
        margin-right: 2%;
    }
    article.over-me .content section:last-of-type .buttons a:first-of-type{
        margin-right: 20px;
    }
}

@media (min-width : 1200px)
{

}
/* end over me */
/*================================================================================*/
/* start studie-geschiedenis */
.timeline{
    padding: var(--default-padding);
    background-color: #F9F9F9;
    --boxShadow-color:  #dde5ee;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.timeline .timeline-content::before{
    content : "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
}
.timeline .timeline-content .year{
    width: 50px;
    margin: 20px auto;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: 4px;
    color: var(--default-color);
    padding: 2px 5px;
    font-weight: bold;
    cursor: pointer;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    margin-bottom: 40px;
    width: calc(50% - 25px);
    position: relative;
    transition: all 1s ease-in-out;
}

.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .right{
    float: right;

}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--default-color);
    border: 3px solid var(--main-color);
    position: absolute;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: var(--default-color);
    border-radius: 10px;
    position: relative;
    transition: var(--default-transition);
}
.timeline .timeline-content .content h3{
    width: fit-content;
    margin: auto;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 10px;
}
.timeline .timeline-content .content p{
    color: #666666;
    margin: 0;
    line-height: 1.6;
    text-transform: capitalize;
}
@media ( max-width : 767px),
(min-width : 768px) and (max-width: 991px){
    .timeline .timeline-content{
        padding: 0;
    }
    .timeline .timeline-content .content{
        box-shadow: 0px 16px 30px 0px var(--boxShadow-color),
        0px -16px 30px 0px var(--boxShadow-color);
    }
    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: 80%;
        float: none;
        margin: 0px auto;
        overflow: hidden;
        text-align: center;
        padding: 30px 30px 40px;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before{
        display: none;
    }
    .timeline .timeline-content .left .content,
    .timeline .timeline-content .right .content{
        margin-top: 10px;
        
    }
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before{
        content: '';
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent var(--default-color) transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width : 992px){
    .timeline .timeline-content .left::before{
        right: -35px;
        top: 20px;
        transition: var(--default-transition)
    }
    .timeline .timeline-content .right::before{
        left: -35px;
        top: 20px;
        transition: var(--default-transition)
    }
    
    .timeline .timeline-content .left:hover::before,
    .timeline .timeline-content .right:hover::before{
        transform: scale(1.2) !important;
    }
    .timeline .timeline-content .left .content::after,
    .timeline .timeline-content .right .content::after{
        content: '';
        border-style: solid;
        border-width: 10px;
        height: 0;
        width: 0;
        position: absolute;
        top: 20px;
        
    }
    .timeline .timeline-content .content{
        box-shadow: 0px 10px 62px -16px var(--boxShadow-color);
    }
    .timeline .timeline-content .content:hover{
        box-shadow: 0px 16px 40px 0px var(--boxShadow-color);
        transform: translateY(-10px);
    }
    .timeline .timeline-content .left .content::after{
        right: -20px;
        border-color: transparent transparent transparent var(--default-color) ;
    }
    .timeline .timeline-content .right .content::after{
        left: -20px;
        border-color: transparent var(--default-color) transparent transparent  ;
    }
    .timeline .timeline-content .left .content::after,
    .timeline .timeline-content .right .content::after{
        top: 50%;
        transform:  translateY(-50%);
        transition: var(--default-transition);
    }
    .timeline .timeline-content .left .content:hover::after,
    .timeline .timeline-content .right .content:hover::after{
        top: 60% !important;
    }
}

@media (min-width : 1200px){
    .timeline .timeline-content {
        padding: 40px 20px;
    }
    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: 45%;
        margin-bottom: 0px;
    }
    .timeline .timeline-content .left{
        margin-right: calc(100% - 45%);
    }
    .timeline .timeline-content .right{
        margin-left: calc(100% - 45%);
    }
    .timeline .timeline-content .left::before{
        right: -68px;
        top: 50%;
        transform:  translateY(-50%);
    }
    .timeline .timeline-content .right::before{
        left: -68px;
        top: 50%;
        transform:  translateY(-50%);
    }
    .timeline .timeline-content .left .content:hover::after,
    .timeline .timeline-content .right .content:hover::after{
        top: 75% !important;
    }
}
/* end studie-geschiedenis */
/*=================================================================================*/
/* satart vaardigheden */
.vaardigheden{
    padding: var(--default-padding);
    background-image: url('../images/skills.jpg');
    background-color: var(--overly-color);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}
.vaardigheden > h3{
    color: var(--default-color)
}
.vaardigheden > h3::after{
    background-color: var(--default-color);
}
.vaardigheden .vh-box{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: var(--default-color);
}
.vaardigheden .vh-box label{
    font-weight: bold;
    text-transform: uppercase;
}
.vaardigheden .vh-box .vh-cell{
    height: 10px;
    border-radius: 0px 200px 200px 0px ;
    border: 1px solid var(--main-color)
}
.vaardigheden .vh-box .vh-cell div{
    background-color: rgba(255, 152, 0, .7);
    color: var(--default-color);
    height: 100%;
    position: relative;
    border-radius:  0px 200px 200px 0px ;
}
.vaardigheden .vh-box:first-of-type .vh-cell div{
    width: 95%;
}
.vaardigheden .vh-box:nth-of-type(2) .vh-cell div{
    width: 70%;
}
.vaardigheden .vh-box:nth-of-type(3) .vh-cell div{
    width: 95%;
}
.vaardigheden .vh-box:nth-of-type(4) .vh-cell div{
    width: 80%;
}
.vaardigheden .vh-box:nth-of-type(5) .vh-cell div{
    width: 55%;
}
.vaardigheden .vh-box:nth-of-type(6) .vh-cell div{
    width: 80%;
}
.vaardigheden .vh-box:nth-of-type(7) .vh-cell div{
    width: 95%;
}
.vaardigheden .vh-box:nth-of-type(8) .vh-cell div{
    width: 80%;
}
.vaardigheden .vh-box:nth-of-type(9) .vh-cell div{
    width: 70%;
}
.vaardigheden .vh-box:last-of-type .vh-cell div{
    width: 75%;
}
.vaardigheden .vh-box .vh-cell div span{
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--main-color);
    overflow: hidden;
}

@media ( max-width : 767px) and (min-width : 200px),
(min-width : 768px) and (max-width : 992px){
    .vaardigheden .vh-box{
        display: flex;
        flex-wrap: wrap;
    }
    .vaardigheden .vh-box label{
        width: 80%;
        text-align: center;
        margin: 10px 0 20px;
    }
    .vaardigheden .vh-box .vh-cell{
        width: 80%;
    }
}
@media (min-width : 992px)
{
    .vaardigheden .vh-box{
        display: flex;
        justify-content: space-evenly;
    }
    .vaardigheden .vh-box label{
        width: 12%;
        text-align: left;
        transition: all .8s ease-in-out;
    }
    .vaardigheden .vh-box:hover label{
        color: var(--main-color) !important;
    }
    .vaardigheden .vh-box .vh-cell div span{
        transition: var(--default-transition);
    }
    .vaardigheden .vh-box:hover .vh-cell div span{
        transform: scale(1.3);
    }
    .vaardigheden .vh-box .vh-cell{
        width: 80%;
    }
}

@media (min-width : 1200px)
{
    
}
/* end vaardigheden */
/*=================================================================================*/
/* start werkervaring */
.werkervaring{
    padding: var(--default-padding)
}
.werkervaring div{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.werkervaring ul,
.werkervaring ul ol{
    list-style: none;
}
.werkervaring ul{
    padding: 0;
    margin: 0;
}
.werkervaring ul > li{
    position: relative;
    margin: 15px auto;
}
.werkervaring ul > li::before{
    content: '\f56b';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    font-size: var(--default-fontSize);
    transition: var(--default-transition);
}
.werkervaring ul > li:first-of-type::before{
    content: '\f61f';
}
.werkervaring ul > li:nth-of-type(2)::before{
    content: '\f51a';
}
.werkervaring ul > li span{
    text-transform: capitalize;
    font-size: var(--default-fontSize);
    margin: 10px 0;
    display: block;

}
.werkervaring ul li ol li{
    position: relative;
    margin: 5px 0;
    text-transform: capitalize;
}

.werkervaring ul li ol li::before{
    content: '\f105';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 30px;
    transition: color .5s,left 2s;
}
@media ( max-width : 767px),
(min-width : 768px) and (max-width : 992px){
    .werkervaring ul > li::before{
        color: var(--main-color);
        transform: scale(1.2);
    }
    .werkervaring ul li ol li::before{
        color: var(--main-color);
        left : -12px
    }
}
@media (min-width : 992px){
    .werkervaring ul > li:nth-of-type(odd){
        right: 60%
    }
    .werkervaring ul > li:nth-of-type(even){
        left: 60%;
    }
    .werkervaring ul > li:hover::before{
        color: var(--main-color);
        transform: scale(1.2);
    }
    .werkervaring ul li ol li:first-of-type::before{
        transition: left .6s ease-in-out;
    }
    .werkervaring ul li ol li:nth-of-type(2)::before{
        transition: left .8s ease-in-out;
    }
    .werkervaring ul li ol li:last-child::before{
        transition: left 1s ease-in-out;
    }
    .werkervaring ul li:hover ol li::before{
        color: var(--main-color);
        left : -12px
    }
}
/* end werkervaring */
/*=================================================================================*/
/* start talen  */
.talen{
    padding: var(--default-padding);
    background-image: url('../images/talen.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: var(--overly-color);
    --table-color: #EEE;
}
.talen h3{
    color: var(--table-color);
}
.talen h3::after{
    background-color: var(--table-color);
}
.talen > div{
    display: flex;
    justify-content: center;
}
.talen table{
    border: 2px solid rgba(0, 0, 0, .8);
    border-spacing: 0;
    border-radius: 5px;
}
.talen table tr{
    font-size: var(--default-fontSize);
}
.talen table tr:nth-of-type(odd){
    color: var(--main-color);
    background-color: rgba(0, 0, 0, .4);
}
.talen table tr:nth-of-type(even){
    color: var(--ander-colo);
    background-color: rgba(0, 0, 0, .2);
}
.talen table tr td {
    border: 2px solid rgba(0, 0, 0, .5);
    text-align: center;
    padding: 10px 15px;
    text-transform: capitalize;
}

.talen .visibale-xs{
    color: var(--default-color);
    text-transform: capitalize;
    font-size: var(--default-fontSize)
}
.talen .visibale-xs .taal:not(:last-of-type){
    margin-bottom: 20px;
}
.talen .visibale-xs .taal span:first-of-type{
    display: inline-block;
    width: 120px;
    position: relative;
}
.talen .visibale-xs .taal span:first-of-type::after{
    content: ':';
    position: absolute;
    top: 0;
    right: 10px;
    font-size: var(--default-fontSize);
}
/* end talen */
/* start getuigenissen */
.getuigenissen{
    padding: var(--default-padding);
    background-color: rgb(249, 249, 249);
}
.getuigenissen div section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: var(--default-padding);
    transition: var(--default-transition);
    overflow: hidden;
    border-radius: 10px;
}
.getuigenissen div section img{
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    transition: var(--default-transition);
}
.getuigenissen div section span{
    text-transform: capitalize;
    position: relative;
    margin: 20px 0;
}
.getuigenissen div section span::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--default-transition);
}
.getuigenissen div section a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    transition: var(--default-transition);
}
.getuigenissen div section p{
    text-align: center;
    width: 80%;
}
@media ( max-width : 767px),
(min-width : 768px) and (max-width : 992px){
    .getuigenissen div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .getuigenissen div section{
        width: 80%;
        margin-bottom: 20px;
    }
    .getuigenissen div section:first-of-type{
        order: 3;
    }
    .getuigenissen div section:nth-of-type(2){
        order: 1;
    }
    .getuigenissen div section:nth-of-type(3){
        order: 2;
    }
    .getuigenissen div section img{
        box-shadow: 0 0px 0px 400px rgba(102,175,233,.6);
    }
    .getuigenissen div section span::after{
        transform: scaleX(1.2);
    }
    .getuigenissen div section a i{
        background-color: var(--blue-color);
        border: 1px solid var(--blue-color);
        color: var(--default-color);
    }
    .getuigenissen div section a:hover i{
        background-color: transparent;
        border: 1px solid var(--blue-color);
        color: var(--blue-color);
    }
}
@media (min-width : 768px) and (max-width : 992px)
{
    .getuigenissen div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .getuigenissen div section{
        width: calc(98% / 2);
    }
    .getuigenissen div section:first-of-type{
        margin: 0 20% 2%;
    }
    .getuigenissen div section:nth-of-type(2){
        margin-right: 2%;
    }
}
@media (min-width : 992px)
{
    .getuigenissen div{
        display: flex;
        justify-content: space-evenly;
    }
    .getuigenissen div section{
        width: calc(96% / 3);
        filter: grayscale();
    }
    .getuigenissen div section:not(:last-child){
        margin-right: 2%;
    }
    .getuigenissen div section:hover{
    transform: translateY(-15px);
    filter: none;
    }
    .getuigenissen div section img{
        transition: box-shadow 2s;
    }
    .getuigenissen div section:hover img{
        box-shadow: 0 0px 0px 400px rgba(102,175,233,.6);
    }
    .getuigenissen div section span::after{
        transform: scaleX(0);
    }
    .getuigenissen div section:hover span::after{
        transform: scaleX(1.2);
    }
    .getuigenissen div section a i{
        background-color: transparent;
        border: 1px solid var(--blue-color);
        color: var(--blue-color);
    }
    .getuigenissen div section:hover a i{
        background-color: var(--blue-color);
        border: 1px solid var(--blue-color);
        color: var(--default-color);
    }
    .getuigenissen div section:hover a:hover i{
        background-color: transparent;
        border: 1px solid var(--blue-color);
        color: var(--blue-color);
    }
}

@media (min-width : 1200px)
{
    
}
/* end getuigenissen */
/* start contact me  */
.contact-me{
    padding: var(--default-padding);
    background-color: var(--overly-color);
    background-blend-mode: overlay;
    background-image: url('../images/contactme.jpg');
    background-size: cover;
    background-position: center;
    --contact-meColor: #8e8e8e;
    color: var(--contact-meColor);
}
.contact-me h3::after{
    background-color: var(--contact-meColor);
}
.contact-me > div{
    display: flex;
    justify-content: center;
}
.contact-me form{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    background-color: var(--overly-color);
    overflow: hidden;
}
.contact-me form input:not(:last-child),
.contact-me form textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--contact-meColor);
    margin-bottom: 20px;
    color: inherit;
    outline: none;
    padding: 5px 10px;
    transition: var(--default-transition);
    border-radius: 5px;
}
.contact-me form input:not(:last-child):focus,
.contact-me form textarea:focus{
    border-bottom: 1px solid var(--blue-color);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 
        0 0 8px rgba(102,175,233,.8);
    border-radius: 5px;
}
.contact-me form input{
    height: 30px;
}
.contact-me form textarea{
    max-width: 100%;
    min-width: 40%;
    min-height: 60px;
}
.contact-me form input[type="submit"]{
    color: var(--contact-meColor);
    background-color: transparent;
    border: 1px solid var(--contact-meColor);
    border-radius: 5px;
    cursor: pointer;
    color: inherit;
    outline: none;
    transition: var(--default-transition);
    margin: 10px 5px;
}
.contact-me form input[type="submit"]:hover{
    box-shadow: 1px 1px 6px 1px var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
@media (min-width : 992px){
    .contact-me form{
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }
    .contact-me form input:first-of-type,
    .contact-me form input:nth-of-type(2){
        width: 48%;
        display: inline-block;
    }
    .contact-me form input:first-of-type{
        margin-right: 4%;
    }
    .contact-me form input:nth-of-type(3),
    .contact-me form input:nth-of-type(4),
    .contact-me form textarea{
        width: 100%;
    }
}
/* end contact me  */
/* start footer  */
footer{
    background-color: var(--black-color);
    color: #8e8e8e;
    padding: 0 30px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
footer div{
    font-size: var(--default-fontSize);
}
footer div p::first-letter{
    font-family: ui-sans-serif;
}
footer div p span{
    color: var(--main-color)
}
footer > p{
    margin: 0;
}
footer a{
    position: relative;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    transition: var(--default-transition);
}
footer a:hover{
    color: var(--main-color);
}
footer a::after{
    content: '\f105';
    position: absolute;
    left: -18px;
    top: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: var(--default-fontSize);
    text-align: center;

    color: inherit;
}
footer a:hover::after{
    content: '\f106';
}
footer a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    height: 28px;
    width: 28px;
    border: 1px solid #8e8e8e;
    border-radius: 50%;
    transition: all .2s;
}
footer a:hover::before{
    width: calc(100% + 20px);
    border-radius: 10px ;
    border: 1px solid var(--main-color);
}
@media ( max-width : 767px){
    footer{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
    }
    footer a{
        margin-left: 25px;
    }
    footer a::before{
        width: calc(100% + 20px);
        border-radius: 10px ;
    }footer a::after{
        content: '\f106';
    }
}
/* end footer  */
/*=================================================================================*/
/* start global media */
@media ( max-width : 767px)
{
    .visibale-xs
    {
        display: block ;
    }
    .hidden-xs
    {
        display: none ;
    }
}
@media (min-width : 768px) and (max-width : 992px){
    .visibale-sm
    {
        display: block ;
    }
}
@media (min-width : 768px)
{
    .container
    {
        width: 780px;
    }
    .hidden-sm
    {
        display: none ;
    }
}
@media (min-width : 992px)
{
    .container
    {
        width: 1000px;
    }
    .visibale-md
    {
        display: block;
    }
    .hidden-md
    {
        display: none ;
    }
}

@media (min-width : 1200px)
{
    .container
    {
        width: 1200px;
    }
    .visibale-lg
    {
        display: block ;
    }
    .hidden-lg
    {
        display: none ;
    }
}
/* end global media */















